<template>
    <div>
    <div v-if="serverSideErrors.length !== 0" class="alert alert-danger">
        <li v-for="error in serverSideErrors">{{ error[0] }}</li>
    </div>

    <form @submit="submit">
        <div class="form-group">
            <label for="first_name">First Name
                <span class="text-danger">*</span>
            </label>
            <input v-model="form.firstName" type="text" class="form-control" id="first_name" placeholder="Enter First Name">
            <span v-if="errors.includes('firstName_required')" class="text-danger">{{ requiredMessage }}</span>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name
                <span class="text-danger">*</span>
            </label>
            <input v-model="form.lastName" type="text" class="form-control" id="last_name" placeholder="Enter Last Name">
            <span v-if="errors.includes('lastName_required')" class="text-danger">{{ requiredMessage }}</span>
        </div>

        <div class="form-group">
            <label for="email">Email
                <span class="text-danger">*</span>
            </label>
            <input v-model="form.email"
                   type="text"
                   class="form-control"
                   id="email"
                   placeholder="Enter Email"
                   @change="checkEmailIsUnique"
            >
            <span v-if="errors.includes('email_required')" class="text-danger">{{ requiredMessage }}</span>
            <span v-else-if="errors.includes('email_notValid')" class="text-danger">{{ invalidEmailMessage }}</span>
            <span v-else-if="errors.includes('email_taken')" class="text-danger">{{ emailTakenMessage }}</span>
        </div>

        <div class="form-group">
            <label>Mobile Numbers
                <span class="text-danger">*</span>
                <span>
                    <button type="button" @click="addMobileNumberHandler" class="btn btn-success">Add +</button>
                </span>
            </label>
            <Mobile :mobiles="form.mobiles"
                    v-for="mobile in form.mobiles"
                    :mobile="mobile"
                    :key="mobile.id"
                    :form_errors="errors"
            />

        </div>

        <div class="form-group">
            <label for="organization_id">Organization
                <span class="text-danger">*</span>
            </label>
            <multiselect v-model="form.organization"
                         id="organization_id"
                         deselect-label="Can't remove this value"
                         track-by="id"
                         label="name"
                         placeholder="Select Organization"
                         :options="organizations"
                         :searchable="true"
                         :allow-empty="false"
            >
            </multiselect>

            <span v-if="errors.includes('organization_required')" class="text-danger">{{ requiredMessage }}</span>
        </div>

        <div class="form-group">
            <label for="birth_date">Birth Date</label>
            <input v-model="form.birthDate" type="date" class="form-control" id="birth_date" placeholder="Enter birth_date">
            <span v-if="errors.includes('birthDate_required')" class="text-danger">{{ requiredMessage }}</span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</template>

<script>
import axios from 'axios';
import Mobile from "./childs/Mobile";
import FormValidationMixin from "../Mixins/FormValidationMixin";
import moment from "moment";
import Multiselect from "vue-multiselect";

export default {
    name: "Edit-Contact",
    components: { Mobile, Multiselect },
    mixins: [ FormValidationMixin ],
    props: ['contact', 'organizations'],
    data() {
        return {
            form: {
                id: 0,
                firstName: '',
                lastName: '',
                email: '',
                mobiles: [],
                organization: 1,
                birthDate: '',
            },
            serverSideErrors: [],
        }
    },
    mounted() {
        this.form.id = this.contact.id;
        this.form.firstName = this.contact.first_name;
        this.form.lastName = this.contact.last_name;
        this.form.email = this.contact.email;
        this.form.mobiles = this.contact.mobiles;
        this.form.organization = this.contact.organization;
        this.form.birthDate = moment(this.contact.birth_date).format("YYYY-MM-DD");
    },
    methods: {
        submit(e) {
            e.preventDefault();
            if (this.formValidation()) {
                axios.patch('/contacts/' + this.contact.id, this.form)
                    .then(response => {
                        window.location.href = '/contacts';
                    }).catch(errors => {
                    this.serverSideErrors = errors.response.data.errors;
                })
            }
        },
        addMobileNumberHandler(e) {
            e.preventDefault();

            const numbers = this.form.mobiles.filter(mobile => {
                return ! mobile.number.trim();
            });

            if(!numbers.length > 0)
            {
                this.form.mobiles.push(this.generateEmptyMobileObject());
            }
        },
        generateEmptyMobileObject() {
            return {
                id: Math.floor(Math.random() * 1000000000),
                number: ''
            }
        },

    },
}
</script>

<style scoped>

</style>
