<template>
    <div class="row">
        <div class="col-md-10 mb-2">
            <input type="number"
                   class="form-control"
                   :id="'mobile_' + getMobileCounter "
                   :placeholder="'Enter Mobile ' + getMobileCounter"
                   v-model="mobile.number"
            >
            <span v-if="getErrors.includes('mobile_required_' + mobile.id)" class="text-danger">{{ requiredMessage }}</span>
            <span v-else-if="getErrors.includes('mobile_invalid_' + mobile.id)" class="text-danger">{{ invalidMobile }}</span>
        </div>
        <div v-if="canDelete" class="col-md-2">
            <button @click="deleteNumberHandler" class="btn btn-danger">Delete</button>
        </div>
    </div>
</template>

<script>
import FormValidationMixin from "../../Mixins/FormValidationMixin";

export default {
    name: "Mobile",
    props: ['mobile', 'mobiles', 'form_errors'],
    mixins: [FormValidationMixin],
    computed:{
        canDelete()
        {
            const index = this.getMobileIndex();

            return index !== 0;
        },
        getMobileCounter()
        {
            let index = this.getMobileIndex();

            return index + 1 === 1 ? '' : index + 1;
        },
        getErrors() {
            return this.form_errors;
        }
    },
    methods: {
        getMobileIndex()
        {
            return this.mobiles.findIndex(mobile => {
                return this.mobile.id === mobile.id
            });
        },
        deleteNumberHandler()
        {
            const index = this.getMobileIndex();

            if(index > -1){
                this.mobiles.splice(index, 1);
            }
        }
    }
}
</script>

<style scoped>

</style>
